on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: [8, 17]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - run: sbt -v
           scalafmtCheckAll
           scalafmtSbtCheck
           test
           publishLocal
           scripted
